@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


.mukta-regular {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.chocolate-classical-sans-regular {
    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }

.grey {
    color: #6c6c6c;
}